<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<title>SocialSway - About Us</title>
		<meta name="keywords" content="SocialSway, ad tech, marketing, advertising, programmatic marketing" />
		<meta name="description" content="SocialSway - Artificial Intelligence + Social Advertising">
		<meta name="author" content="Bhaskar Ravi">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Libs CSS -->
		
		
		<%=stylesheet_link_tag "flexslider.css"%>
		<%=stylesheet_link_tag "magnific-popup.css"%>

		<!-- Theme CSS -->
	
		
		<%=stylesheet_link_tag "theme.css"%>
		<%=stylesheet_link_tag "theme-elements.css"%>
		<%=stylesheet_link_tag "theme-animate.css"%>

		<!-- Skin CSS -->
		
		<%=stylesheet_link_tag "purple.css"%>
		

		<!-- Custom CSS -->
		
		<%=stylesheet_link_tag "custom.css"%>
		

		<!-- Responsive CSS -->
		
		<%=stylesheet_link_tag "theme-responsive.css"%>
		

		<!-- Head Libs -->
		
		<%=javascript_include_tag "modernizr.js"%>
		
		<%= favicon_link_tag "favicon.ico" %>
		
		

		<!--[if IE]>
			<link rel="stylesheet" href="css/ie.css">
		<![endif]-->

		<!--[if lte IE 8]>
			<script src="vendor/respond.js"></script>
		<![endif]-->

	</head>
	<body>

		<!--BEGIN HEADER -->

		<div class="body">
			<header class="single-menu flat-menu">
				<div class="container">
					<h1 class="logo">
						<a href="/">
							<%= image_tag("logo.png", alt: "SocialSway")%>
						</a>
					</h1>
					<button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="icon icon-bars"></i>
					</button>
				</div>
				<div class="navbar-collapse nav-main-collapse collapse">
					<div class="container">
						<div class="social-icons">
							<ul class="social-icons">
								<li class="facebook"><a href="http://www.facebook.com/socialswayadtech" target="_blank" title="Facebook">Facebook</a></li>
								<li class="twitter"><a href="http://www.twitter.com/socsway" target="_blank" title="Twitter">Twitter</a></li>
								<li class="linkedin"><a href="http://www.linkedin.com/company/enlyten-health" target="_blank" title="Linkedin">Linkedin</a></li>
							</ul>
						</div>
						<nav class="nav-main mega-menu">
							<ul class="nav nav-pills nav-main" id="mainMenu">
								
								<li>
									<a href="/">Home</a>
								</li>
								
								<li class="dropdown">
									<a class="dropdown-toggle" href="#">
										Time Machine
										<i class="icon icon-angle-down"></i>
									</a>
										<ul class="dropdown-menu">
											<li><a href="timemachine_overview.html">Overview</a></li>
											<li><a href="timemachine_cases.html">Case Studies</a></li>
										</ul>							
								</li>
								
								<li>
									<a href="platform.html">Platform</a>
								</li>
											
														
								<li class="active">
									<a href="about.html">About Us</a>
								</li>
																														
								<li>
									<a href="contact.html">Contact</a>
								</li>
								
							</ul>
						</nav>
					</div>
				</div>
			</header>
			
			<!--END HEADER-->
			
			<div role="main" class="main">

				<section class="page-top">
					<!--<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="index.html">Home</a></li>
									<li class="active">About Us</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h2>About Us</h2>
							</div>
						</div>
					</div>-->
				</section>

				<div class="container">

					<h2 class="word-rotator-title">
						Advertising Meets <strong>
							<span class="word-rotate">
								<span class="word-rotate-items">
									<span>technology. </span>
									<span>innovation. </span>
								</span>
							</span>
						</strong>
					</h2>

					<div class="row">
						<div class="col-md-12">
							<p>								
								SocialSway was founded with the goal of blending mathematics and advertising. With native advertising quickly becoming the future our industry, we will strive to streamline the experience, and push the boundaries to help brands connect with their audiences in efficient and effective ways.							 	
							</p>
						</div>
						
					</div>
					
					

					<hr class="tall">
					<div class="row center">
						<div class="col-md-12">
							<%= image_tag("SocialSwayWordCloud.jpg", alt: "SocialSway", class: "img-responsive")%>
							
						</div>
					</div>
					
					<hr class="tall">
					<div class="row">
						<div class="col-md-12">
							<h4 class="pull-top">Founding <strong>Team</strong></h4>
						</div>
					</div>
					
					

					<div class="row">
						<div class="col-md-12">

							<ul class="history">
								<li data-appear-animation="fadeInUp">
									<div class="thumb">
										<%= image_tag("BhaskarWebPic.jpg", alt: "SocialSway")%>
										
										
									</div>
									<div class="featured-box">
										<div class="box-content">
											<h4>Bhaskar Ravi<br><br></h4>
											<p>Degree in Industrial Engineering and Management Sciences from Northwestern University, technology and innovation junkie, experience in predictive data analytics and structuring.</p>
										</div>
									</div>
								</li>
								<li data-appear-animation="fadeInUp">
									<div class="thumb">
										<%= image_tag("DavidWebPic.jpg", alt: "SocialSway")%>
										
									</div>
									<div class="featured-box">
										<div class="box-content">
											<h4>David Paget<br><br></h4>
											<p>MBA from Chicago Booth School of Business, former hedge fund executive, experience in statistical analysis and mathematics.</p>
										</div>
									</div>
								</li>
								
							</ul>

						</div>
					</div>

				</div>

			</div>

			

			<!-- Begin Footer -->
			<footer>
				<div class="container">
					<div class="row">
						<div class="footer-ribon">
							<span>Get in Touch</span>
						</div>						
						<div class="col-md-10">
							<div class="contact-details">
								<h4>Contact Us</h4>
								<ul class="contact">									
									<li><p><i class="icon icon-envelope"></i> <strong>Email:</strong> contact@socialsway.com</p></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<h4>Follow Us</h4>
							<div class="social-icons">
								<ul class="social-icons">
									<li class="facebook"><a href="http://www.facebook.com/socialswayadtech" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a></li>
									<li class="twitter"><a href="http://www.twitter.com/socsway" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a></li>
									<li class="linkedin"><a href="http://www.linkedin.com/company/enlyten-health" target="_blank" data-placement="bottom" rel="tooltip" title="Linkedin">Linkedin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-1">
								<a href="index.html" class="logo">
								</a>
							</div>
							<div class="col-md-7">
							</div>
							
						</div>
					</div>
				</div>
			</footer>
			
			<!--End Footer-->
		</div>

		<!-- Libs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="vendor/jquery.js"><\/script>')</script>
		<script src="js/plugins.js"></script>
		<script src="vendor/jquery.easing.js"></script>
		<script src="vendor/jquery.appear.js"></script>
		<script src="vendor/jquery.cookie.js"></script>
		<!-- <script src="master/style-switcher/style.switcher.js"></script> Style Switcher -->
		<script src="vendor/bootstrap.js"></script>
		<script src="vendor/twitterjs/twitter.js"></script>
		<script src="vendor/flexslider/jquery.flexslider.js"></script>
		<script src="vendor/jflickrfeed/jflickrfeed.js"></script>
		<script src="vendor/magnific-popup/magnific-popup.js"></script>
		<script src="vendor/jquery.validate.js"></script>
		
		<%=javascript_include_tag "plugins.js"%>
		<%=javascript_include_tag "jquery.easing.js"%>
		<%=javascript_include_tag "jquery.appear.js"%>
		<%=javascript_include_tag "jquery.cookie.js"%>
		<%=javascript_include_tag "bootstrap.js"%>
		<%=javascript_include_tag "twitter.js"%>
		<%=javascript_include_tag "jquery.flexslider.js"%>
		<%=javascript_include_tag "jflickrfeed.js"%>
		<%=javascript_include_tag "magnific-popup.js"%>
		<%=javascript_include_tag "jquery.validate.js"%>

		<!-- Theme Initializer -->
		<script src="js/theme.js"></script>
		<%=javascript_include_tag "theme.js"%>

		<!-- Custom JS -->
		<script src="js/custom.js"></script>
		<%=javascript_include_tag "custom.js"%>
		

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>
		 -->

	</body>
</html>
