<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<title>SocialSway - Home</title>
		<meta name="keywords" content="SocialSway, ad tech, marketing, advertising, programmatic marketing" />
		<meta name="description" content="SocialSway - Artificial Intelligence + Social Advertising">
		<meta name="author" content="Bhaskar Ravi">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Libs CSS -->
		
		
		<%=stylesheet_link_tag "bootstrap.css"%>		
		<%=stylesheet_link_tag "flexslider.css"%>
		<%=stylesheet_link_tag "magnific-popup.css"%>

		<!-- Theme CSS -->
		
		
		<%=stylesheet_link_tag "theme.css"%>
		<%=stylesheet_link_tag "theme-elements.css"%>
		<%=stylesheet_link_tag "theme-animate.css"%>
		

		<!-- Current Page Styles -->
		
		<%=stylesheet_link_tag "settings.css"%>
		<%=stylesheet_link_tag "component.css"%>
		

		<!-- Skin CSS -->
		<%=stylesheet_link_tag "purple.css"%>
		

		<!-- Custom CSS -->
		<%=stylesheet_link_tag "custom.css"%>
		

		<!-- Responsive CSS -->
		<%=stylesheet_link_tag "theme-responsive.css"%>
		

		<!-- Head Libs -->
		<%=javascript_include_tag "modernizr.js"%>
		
		<%= favicon_link_tag "favicon.ico" %>
		

		<!--[if IE]>
			<link rel="stylesheet" href="css/ie.css">
		<![endif]-->

		<!--[if lte IE 8]>
			<script src="vendor/respond.js"></script>
		<![endif]-->
			

	</head>
	
	
	<body>
		
		
		<!--BEGIN HEADER -->

		<div class="body">
			<header class="single-menu flat-menu">
				<div class="container">
					<h1 class="logo">
						<a href="/">
							<%= image_tag("logo.png", alt: "SocialSway")%>
						</a>
					</h1>
					<button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="icon icon-bars"></i>
					</button>
				</div>
				<div class="navbar-collapse nav-main-collapse collapse">
					<div class="container">
						<div class="social-icons">
							<ul class="social-icons">
								<li class="facebook"><a href="http://www.facebook.com/socialswayadtech" target="_blank" title="Facebook">Facebook</a></li>
								<li class="twitter"><a href="http://www.twitter.com/socsway" target="_blank" title="Twitter">Twitter</a></li>
								<li class="linkedin"><a href="http://www.linkedin.com/company/enlyten-health" target="_blank" title="Linkedin">Linkedin</a></li>
							</ul>
						</div>
						<nav class="nav-main mega-menu">
							<ul class="nav nav-pills nav-main" id="mainMenu">
								
								<li class="active">
									<a href="/">Home</a>
								</li>
								
								<li class="dropdown">
									<a class="dropdown-toggle" href="#">
										Time Machine
										<i class="icon icon-angle-down"></i>
									</a>
										<ul class="dropdown-menu">
											<li><a href="timemachine_overview.html">Overview</a></li>
											<li><a href="timemachine_cases.html">Case Studies</a></li>
										</ul>							
								</li>
								
								<li>
									<a href="platform.html">Platform</a>
								</li>
											
														
								<li>
									<a href="about.html">About Us</a>
								</li>
																														
								<li>
									<a href="contact.html">Contact</a>
								</li>
								
							</ul>
						</nav>
					</div>
				</div>
			</header>
			
			<!--END HEADER-->
			
			<div role="main" class="main">
				<div id="content" class="content full">

					<div class="slider-container">
						<div class="slider" id="revolutionSlider">
							<ul>
								<li data-transition="fade" data-slotamount="13" data-masterspeed="300" >

									<%= image_tag("slide-bg.jpg", data:{bgfit: "cover", bgposition:"left-top", bgrepeat:"no-repeat"})%>
									

									<div class="tp-caption top-label lfl stl"
										 data-x="30"
										 data-y="180"
										 data-speed="300"
										 data-start="500"
										 data-easing="easeOutExpo">Introducing</div>

									<div class="tp-caption main-label sft stb"
										 data-x="30"
										 data-y="210"
										 data-speed="300"
										 data-start="1500"
										 data-easing="easeOutExpo">SocialSway</div>

									<div class="tp-caption bottom-label sft stb"
										 data-x="30"
										 data-y="290"
										 data-speed="500"
										 data-start="2000"
										 data-easing="easeOutExpo">Artificial Intelligence + Social Media.</div>										 																			
								</li>
								
								<li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >
									
									<%= image_tag("slide-bg2.jpg", data:{bgfit: "cover", bgposition:"left-top", bgrepeat:"no-repeat"})%>
									
									
										<div class="tp-caption main-label sft stb"
											 data-x="30"
											 data-y="190"
											 data-speed="300"
											 data-start="1500"
											 data-easing="easeOutExpo"><span style = "color: black;"> Time Machine</span></font></div>

										<div class="tp-caption bottom-label sft stb"
											 data-x="38"
											 data-y="255"
											 data-speed="500"
											 data-start="2000"
											 data-easing="easeOutExpo"><span style = "color: black;"> Advanced Bid Recommendations</span></div>

								</li>								
							</ul>
						</div>
					</div>

					<div class="home-intro">
						<div class="container">

							<div class="row center">
								<div class="col-md-12">
									<p>
										<em>Powerful solutions for native social advertisers. </em>
									</p>
								</div>
								
							</div>

						</div>
					</div>
					
					<!-- END OF TOP INTRO SECTION......BEGINNING OF HOME BODY -->

					<div class="container">

						<div class="row center">
							<div class="col-md-12">
								<h2 class="short word-rotator-title">
									SocialSway is a Social <strong>RTB</strong> Platform.								
								</h2>
								<p class="featured lead">
									We provide intelligent bid management software for native Facebook advertisers.
								</p>
							</div>
						</div>

					</div>

					<div class="home-concept">
						<div class="container">

							<div class="row center">
								<div class="col-md-2 col-md-offset-1">
									<div class="process-image" data-appear-animation="bounceIn">
										<%= image_tag("home-concept-item-1.png", alt: "")%>
										
										<strong>Monitor</strong>
									</div>
								</div>
								<div class="col-md-2">
									<div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="200">
										<%= image_tag("home-concept-item-2.png", alt: "")%>
										
										<strong>Execute</strong>
									</div>
								</div>
								<div class="col-md-2">
									<div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="400">
										<%= image_tag("home-concept-item-3.png", alt: "")%>
										
										<strong>Manage</strong>
									</div>
								</div>
								<div class="col-md-4 col-md-offset-1">
									<div class="project-image" data-appear-animation="bounceIn" data-appear-animation-delay="600">
										<div id="fcSlideshow" class="fc-slideshow">
											<a href="timemachine_overview.html">
												<%= image_tag("home-revo-item3.png", class: "img-responsive", alt: "")%>
												
											</a>
										</div>
										<strong class="our-work">Optimize</strong>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="container">

						<div class="row">
							<hr class="tall" />
						</div>								
						
						<div class="container">

							<div class="row">
								<div class="col-md-8">
									<h2>Core <strong>Features</strong></h2>
									<div class="row">
										<div class="col-md-6">
											<div class="feature-box">
												<div class="feature-box-icon">
													<i class="icon icon-superscript"></i>
												</div>
												<div class="feature-box-info">
													<h4 class="shorter">Time Machine</h4>
													<p class="tall">Proprietary recommendation algorithm cuts cost-to-goal up to 20%.</p>
												</div>
											</div>	
											<div class="feature-box">
												<div class="feature-box-icon">
													<i class="icon icon-list-alt"></i>
												</div>
												<div class="feature-box-info">
													<h4 class="shorter">Bid Management</h4>
													<p class="tall">Real time budget control. Place, manage, and optimize bids on all active Ad Groups.</p>
												</div>
											</div>									
											<div class="feature-box">
												<div class="feature-box-icon">
													<i class="icon icon-bar-chart-o"></i>
												</div>
												<div class="feature-box-info">
													<h4 class="shorter">Performance Forecasting</h4>
													<p class="tall">Accurately project and analyze future impressions, clicks, and actions at the Ad Group level.</p>
												</div>
											</div>											
																
										</div>
									
										<div class="col-md-6">
											<div class="feature-box">
												<div class="feature-box-icon">
													<i class="icon icon-usd"></i>
												</div>
												<div class="feature-box-info">
													<h4 class="shorter">Bid Tracking</h4>
													<p class="tall">Follow and project future prices across multiple bid types with simple boxplots.</p>
												</div>
											</div>
											<div class="feature-box">
												<div class="feature-box-icon">
													<i class="icon icon-sort-amount-asc"></i>
												</div>
												<div class="feature-box-info">
													<h4 class="shorter">Ad Set Optimization</h4>
													<p class="tall">Reallocate capital between ad sets to maximize performance towards an objective.</p>
												</div>
											</div>
											<div class="feature-box">
												<div class="feature-box-icon">
													<i class="icon icon-fighter-jet"></i>
												</div>
												<div class="feature-box-info">
													<h4 class="shorter">Autopilot</h4>
													<p class="tall">Turn on autopilot to experience fully automated bidding based off Time Machine’s recommendations.</p>
												</div>
											</div>										
																					
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<h2>and more...</h2>

									<div class="panel-group" id="accordion">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
														<i class="icon icon-laptop"></i>
														Intuitive Dashboard
													</a>
												</h4>
											</div>
											<div id="collapseOne" class="accordion-body collapse in">
												<div class="panel-body">
													Manage your bids with a simple interface that provides actionable insights through data and graphs to help maximize ROI. 
													
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
														<i class="icon icon-tasks"></i>
														Multi-Layer Agency Support
													</a>
												</h4>
											</div>
											<div id="collapseTwo" class="accordion-body collapse">
												<div class="panel-body">
													 Integrate all your campaigns into a single platform. We fully support both direct marketers and advertising agencies. 
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
														<i class="icon icon-cloud"></i>
														Data API
													</a>
												</h4>
											</div>
											<div id="collapseThree" class="accordion-body collapse">
												<div class="panel-body">
													Access the data produced by Time Machine through an API for increased flexibility and further analysis.
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>			
					</div>														
							
						<!-- Client Testimonials Ending -->
						
					<div class="map-section">
						<section class="featured footer map">
							<div class="container">
								<div class="row">
									<div class="col-md-6">
										<div class="recent-posts">
											<h2>Get the <strong>Stats</strong> </h2>
											<h4>Decrease campaign costs-to-goal up to 20%.<br><br></h4>
											<h4>Decrease average CPAs up to 30%.<br><br></h4>
											<h4>Increase activity your Ad Groups encounter.<br><br></h4>
																					
										</div>
									</div>									
									<div class="col-md-6">
										<h2>Insider <strong>Buzz</strong></h2>
										<div class="row">
											<div class="flexslider flexslider-top-title unstyled" data-plugin-options='{"controlNav":false, "slideshow": false, "animationLoop": true, "animation":"slide"}'>
												<ul class="slides">
													<li>
														<div class="col-md-12">
															<blockquote class="testimonial">
															<p>2013 was a big year for us, both with the official founding of our company and the successful development of our bidding technology. 2014 should provide even more success, and we are looking forward to introduce the exciting array of products and technologies we have planned for this new year.</p>
															</blockquote>
															<div class="testimonial-arrow-down"></div>
															<div class="testimonial-author">
																<!--<div class="img-thumbnail img-thumbnail-small">
																	<img src="img/clients/BhaskarPicture.jpg" alt="">
																</div>-->
																<p><strong>Bhaskar Ravi</strong><span>Founder - SocialSway</span></p>
															</div>
														</div>
													</li>													
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							
						</section>
					</div>
				</div>
			</div>

			<!-- Begin Footer -->
			<footer>
				<div class="container">
					<div class="row">
						<div class="footer-ribon">
							<span>Get in Touch</span>
						</div>						
						<div class="col-md-10">
							<div class="contact-details">
								<h4>Contact Us</h4>
								<ul class="contact">									
									<li><p><i class="icon icon-envelope"></i> <strong>Email:</strong> contact@socialsway.com</p></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<h4>Follow Us</h4>
							<div class="social-icons">
								<ul class="social-icons">
									<li class="facebook"><a href="http://www.facebook.com/socialswayadtech" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a></li>
									<li class="twitter"><a href="http://www.twitter.com/socsway" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a></li>
									<li class="linkedin"><a href="http://www.linkedin.com/company/enlyten-health" target="_blank" data-placement="bottom" rel="tooltip" title="Linkedin">Linkedin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-1">
								<a href="index.html" class="logo">
								</a>
							</div>
							<div class="col-md-7">
							</div>
							
						</div>
					</div>
				</div>
			</footer>
			
			<!--End Footer-->
		</div>

		<!-- Libs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="vendor/jquery.js"><\/script>')</script>
		<script src="js/plugins.js"></script>
		<script src="vendor/jquery.easing.js"></script>
		<script src="vendor/jquery.appear.js"></script>
		<script src="vendor/jquery.cookie.js"></script>
		<script src="vendor/bootstrap.js"></script>
		<script src="vendor/twitterjs/twitter.js"></script>
		<script src="vendor/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
		<script src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		<script src="vendor/flexslider/jquery.flexslider.js"></script>
		<script src="vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
		<script src="vendor/magnific-popup/magnific-popup.js"></script>
		<script src="vendor/jquery.validate.js"></script>
		
		<%=javascript_include_tag "plugins.js"%>
		<%=javascript_include_tag "jquery.easing.js"%>
		<%=javascript_include_tag "jquery.appear.js"%>
		<%=javascript_include_tag "jquery.cookie.js"%>
		<%=javascript_include_tag "bootstrap.js"%>
		<%=javascript_include_tag "twitter.js"%>
		<%=javascript_include_tag "jquery.themepunch.plugins.min.js"%>
		<%=javascript_include_tag "jquery.themepunch.revolution.min.js"%>						
		<%=javascript_include_tag "jquery.flexslider.js"%>
		<%=javascript_include_tag "jquery.flipshow.js"%>		
		<%=javascript_include_tag "jflickrfeed.js"%>
		<%=javascript_include_tag "magnific-popup.js"%>
		<%=javascript_include_tag "jquery.validate.js"%>

		<!-- Current Page Scripts -->
		<script src="js/views/view.home.js"></script>
		<%=javascript_include_tag "view.home.js"%>
		

		<!-- Theme Initializer -->
		<script src="js/theme.js"></script>
		<%=javascript_include_tag "theme.js"%>
		

		<!-- Custom JS -->
		<script src="js/custom.js"></script>
		<%=javascript_include_tag "custom.js"%>
		

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>
		 -->

	</body>
</html>
