<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<title>SocialSway - Platform</title>
		<meta name="keywords" content="SocialSway, ad tech, marketing, advertising, programmatic marketing" />
		<meta name="description" content="SocialSway - Artificial Intelligence + Social Advertising">
		<meta name="author" content="Bhaskar Ravi">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Libs CSS -->
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/fonts/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" href="vendor/flexslider/flexslider.css" media="screen" />
		<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css" media="screen" />
		
		<%=stylesheet_link_tag "flexslider.css"%>
		<%=stylesheet_link_tag "magnific-popup.css"%>

		<!-- Theme CSS -->
		<link rel="stylesheet" href="css/theme.css">
		<link rel="stylesheet" href="css/theme-elements.css">
		<link rel="stylesheet" href="css/theme-animate.css">
		
		<%=stylesheet_link_tag "theme.css"%>
		<%=stylesheet_link_tag "theme-elements.css"%>
		<%=stylesheet_link_tag "theme-animate.css"%>
		

		<!-- Skin CSS -->
		<link rel="stylesheet" href="css/skins/purple.css">
		
		<%=stylesheet_link_tag "purple.css"%>
		

		<!-- Custom CSS -->
		<link rel="stylesheet" href="css/custom.css">
		
		<%=stylesheet_link_tag "custom.css"%>
		

		<!-- Responsive CSS -->
		<link rel="stylesheet" href="css/theme-responsive.css" />
		
		<%=stylesheet_link_tag "theme-responsive.css"%>
		

		<!-- Head Libs -->
		<script src="vendor/modernizr.js"></script>
		
		<%=javascript_include_tag "modernizr.js"%>
		
		<%= favicon_link_tag "favicon.ico" %>
		
		

		<!--[if IE]>
			<link rel="stylesheet" href="css/ie.css">
		<![endif]-->

		<!--[if lte IE 8]>
			<script src="vendor/respond.js"></script>
		<![endif]-->

	</head>
	<body>

		<!--BEGIN HEADER -->

		<div class="body">
			<header class="single-menu flat-menu">
				<div class="container">
					<h1 class="logo">
						<a href="/">
							<%= image_tag("logo.png", alt: "SocialSway")%>
						</a>
					</h1>
					<button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="icon icon-bars"></i>
					</button>
				</div>
				<div class="navbar-collapse nav-main-collapse collapse">
					<div class="container">
						<div class="social-icons">
							<ul class="social-icons">
								<li class="facebook"><a href="http://www.facebook.com/socialswayadtech" target="_blank" title="Facebook">Facebook</a></li>
								<li class="twitter"><a href="http://www.twitter.com/socsway" target="_blank" title="Twitter">Twitter</a></li>
								<li class="linkedin"><a href="http://www.linkedin.com/company/enlyten-health" target="_blank" title="Linkedin">Linkedin</a></li>
							</ul>
						</div>
						<nav class="nav-main mega-menu">
							<ul class="nav nav-pills nav-main" id="mainMenu">
								
								<li class="dropdown">
									<a class="dropdown-toggle" href="/">
										Home
									</a>
								</li>
								
								<li class="dropdown">
									<a class="dropdown-toggle" href="#">
										Time Machine
										<i class="icon icon-angle-down"></i>
									</a>
										<ul class="dropdown-menu">
											<li><a href="timemachine_overview.html">Overview</a></li>
											<li><a href="timemachine_cases.html">Case Studies</a></li>
										</ul>							
								</li>
								
								<li class="dropdown active">
									<a class="dropdown-toggle" href="platform.html">
										Platform
									</a>
								</li>		
														
								<li class="dropdown">
									<a class="dropdown-toggle" href="about.html">
										About Us
									</a>									
								</li>	
																														
								<li class="dropdown">
									<a class="dropdown-toggle" href="contact.html">
										Contact Us	
									</a>
								</li>
								
							</ul>
						</nav>
					</div>
				</div>
			</header>
			
			<!--END HEADER-->

			<div role="main" class="main">

				<section class="page-top">
					<!--<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="index.html">Home</a></li>
									<li class="active">Platform</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h2>Platform</h2>
							</div>
						</div>
					</div>-->
				</section>

				<div class="container">

					<h2>Optimized for Performance</h2>

					<div class="row">
						<div class="col-md-12">
							<p>SocialSway is a self-service social ad-tech platform. We provide enhanced access to Facebook's native advertising tools. Our proprietary technologies leverage predictive analytics and machine learning to help advertisers gain increased campaign efficiency and significant cost savings.																
							</p>
						</div>						
					</div>
					
					<hr class="tall"/>
					<div class = "row">
						<div class = "col-md-8">
							<h4>RESTful API</h4>
							
							<p>Gain access to Time Machine and the rest of our platform's features with an easy to integrate, RESTful API. <br><br> Our API makes it easy to gain the benefits of SocialSway's optimization technologies without the need of learning new software or disrupting workflow. We conform to Facebook's Ads API structure, and advertisers currently accessing Ads API programmatically can seamlessly integrate with SocialSway's API. 
																
						</div>
						<div class = "col-md-4">
							<!-- <img class="img-responsive" src="img/responsiveUX.jpg"> -->
							<%= image_tag("RestfulAPI.jpg", alt: "SocialSway", class: "img-responsive")%>
							
						</div>
					</div>
					
					
							

					<hr class="tall"/>
					
					<div class="row pull-top">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4">
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="icon icon-superscript"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Time Machine</h4>
					 						<p class="tall">Automatically bid the optimal bid type and bid amount during active hours, cutting campaign costs-to-goal up to 20% and decreasing CPAs up to 30%.</p>
										</div>
									</div>
								</div>
								<div class = "col-md-4">
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="icon icon-dot-circle-o"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Goal Optimization</h4>
											<p class="tall">Specify Facebook goals and budgetary constraints at both the Ad Group and Ad Campaign levels. Time Machine optimizes campaigns towards your specific needs.</p>
										</div>
									</div>
								</div>
								<div class = "col-md-4">
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="icon icon-clock-o"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Real Time Reporting</h4>
											<p class="tall">Track bidding logic on a real time basis. Built on a clean and simple HTTP request/response system to ensure full compatibility with your current architectures. </p>
										</div>
									</div>
								</div>
									
							</div>
						</div>
					</div>																					
					

					


					<hr class="tall" />
					
					
					
					<div class = "row">													
						<div class="col-md-6">
							<h4>Budget Reallocation</h4>
							<p class="tall">
								Take full advantage of savings by either using your remaining campaign budget to further boost goals, or re-allocate that campaign budget to other marketing needs. SocialSway can automatically pause campaigns once goals are met so that you can make the choice and maximize your savings.
							</p>
						</div>
						<div class="col-md-6">
							<h4>Computational Power</h4>
							<p class="tall">
								Time Machine requires a large amount of computational power to execute in real time. SocialSway's computers are up to the task. We automatically offload all high-performance computing tasks to our servers in order to ensure maximum efficiency, allowing advertisers to concentrate on marketing, not tech.
							</p>
						</div>
					</div>
					
					
					
					
					<hr class="tall" />
					
					<h4>Enhanced Insights</h4>
					
					<div class = "row">													
						<div class="col-md-8">
							<p class="tall">
								Leverage analysis done by Time Machine to gain enhanced insights into Ad Groups and Ad Campaigns. <br><br> Gain real time insight into each Ad Group's performance, and gain accurate projections for each Ad Group. Results are provided at a granular level, and broken down by specific action types.<br><br>Track how Time Machine allocates bids in real time, and manage your campaigns knowing which Ad Groups will consume the majority of your budget.
							</p>
						</div>
						<div class="col-md-4">
							<!-- <img class="img-responsive" src="img/enhancedInsights.jpg"> -->
							<%= image_tag("enhancedInsights.jpg", alt: "SocialSway", class: "img-responsive")%>
							
							
						</div>
					</div>
					
					

				</div>

			</div>


			<section class="call-to-action featured footer">
				<div class="container">
					<div class="row">
						<div class="center">
							<h3>We take a <strong>smart</strong> approach to advertising on Facebook.</h3>
						</div>
					</div>
				</div>
			</section>

			<!-- Begin Footer -->
			<footer>
				<div class="container">
					<div class="row">
						<div class="footer-ribon">
							<span>Get in Touch</span>
						</div>						
						<div class="col-md-10">
							<div class="contact-details">
								<h4>Contact Us</h4>
								<ul class="contact">									
									<li><p><i class="icon icon-envelope"></i> <strong>Email:</strong> contact@socialsway.com</p></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<h4>Follow Us</h4>
							<div class="social-icons">
								<ul class="social-icons">
									<li class="facebook"><a href="http://www.facebook.com/socialswayadtech" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a></li>
									<li class="twitter"><a href="http://www.twitter.com/socsway" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a></li>
									<li class="linkedin"><a href="http://www.linkedin.com/company/enlyten-health" target="_blank" data-placement="bottom" rel="tooltip" title="Linkedin">Linkedin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-1">
								<a href="index.html" class="logo">
								</a>
							</div>
							<div class="col-md-7">
							</div>
							
						</div>
					</div>
				</div>
			</footer>
			
			<!--End Footer-->




		</div>

		<!-- Libs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="vendor/jquery.js"><\/script>')</script>
		<script src="js/plugins.js"></script>
		<script src="vendor/jquery.easing.js"></script>
		<script src="vendor/jquery.appear.js"></script>
		<script src="vendor/jquery.cookie.js"></script>
		<!-- <script src="master/style-switcher/style.switcher.js"></script> Style Switcher -->
		<script src="vendor/bootstrap.js"></script>
		<script src="vendor/twitterjs/twitter.js"></script>
		<script src="vendor/flexslider/jquery.flexslider.js"></script>
		<script src="vendor/jflickrfeed/jflickrfeed.js"></script>
		<script src="vendor/magnific-popup/magnific-popup.js"></script>
		<script src="vendor/jquery.validate.js"></script>
		
		<%=javascript_include_tag "plugins.js"%>
		<%=javascript_include_tag "jquery.easing.js"%>
		<%=javascript_include_tag "jquery.appear.js"%>
		<%=javascript_include_tag "jquery.cookie.js"%>
		<%=javascript_include_tag "bootstrap.js"%>
		<%=javascript_include_tag "twitter.js"%>
		<%=javascript_include_tag "jquery.flexslider.js"%>
		<%=javascript_include_tag "jflickrfeed.js"%>
		<%=javascript_include_tag "magnific-popup.js"%>
		<%=javascript_include_tag "jquery.validate.js"%>

		<!-- Theme Initializer -->
		<script src="js/theme.js"></script>
		<%=javascript_include_tag "theme.js"%>
		

		<!-- Custom JS -->
		<script src="js/custom.js"></script>
		<%=javascript_include_tag "custom.js"%>
		

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>
		 -->

	</body>
</html>
