<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<title>SocialSway - Platform</title>
		<meta name="keywords" content="SocialSway, ad tech, marketing, advertising, programmatic marketing" />
		<meta name="description" content="SocialSway - Artificial Intelligence + Social Advertising">
		<meta name="author" content="Bhaskar Ravi">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Libs CSS -->
		
		
		<%=stylesheet_link_tag "flexslider.css"%>
		<%=stylesheet_link_tag "magnific-popup.css"%>

		<!-- Theme CSS -->
		
		
		<%=stylesheet_link_tag "theme.css"%>
		<%=stylesheet_link_tag "theme-elements.css"%>
		<%=stylesheet_link_tag "theme-animate.css"%>
		

		<!-- Skin CSS -->
		
		<%=stylesheet_link_tag "purple.css"%>
		

		<!-- Custom CSS -->
		
		<%=stylesheet_link_tag "custom.css"%>
		

		<!-- Responsive CSS -->
		
		<%=stylesheet_link_tag "theme-responsive.css"%>
		

		<!-- Head Libs -->
		
		<%=javascript_include_tag "modernizr.js"%>
		
		<%= favicon_link_tag "favicon.ico" %>
		
		

		<!--[if IE]>
			<link rel="stylesheet" href="css/ie.css">
		<![endif]-->

		<!--[if lte IE 8]>
			<script src="vendor/respond.js"></script>
		<![endif]-->

	</head>
	<body>

		<!--BEGIN HEADER -->

		<div class="body">
			<header class="single-menu flat-menu">
				<div class="container">
					<h1 class="logo">
						<a href="/">
							<%= image_tag("logo.png", alt: "SocialSway")%>
						</a>
					</h1>
					<button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="icon icon-bars"></i>
					</button>
				</div>
				<div class="navbar-collapse nav-main-collapse collapse">
					<div class="container">
						<div class="social-icons">
							<ul class="social-icons">
								<li class="facebook"><a href="http://www.facebook.com/socialswayadtech" target="_blank" title="Facebook">Facebook</a></li>
								<li class="twitter"><a href="http://www.twitter.com/socsway" target="_blank" title="Twitter">Twitter</a></li>
								<li class="linkedin"><a href="http://www.linkedin.com/company/enlyten-health" target="_blank" title="Linkedin">Linkedin</a></li>
							</ul>
						</div>
						<nav class="nav-main mega-menu">
							<ul class="nav nav-pills nav-main" id="mainMenu">
								
								<li>
									<a href="/">Home</a>
								</li>
								
								<li class="dropdown">
									<a class="dropdown-toggle" href="#">
										Time Machine
										<i class="icon icon-angle-down"></i>
									</a>
										<ul class="dropdown-menu">
											<li><a href="timemachine_overview.html">Overview</a></li>
											<li><a href="timemachine_cases.html">Case Studies</a></li>
										</ul>							
								</li>
								
								<li class="active">
									<a href="platform.html">Platform</a>
								</li>
											
														
								<li>
									<a href="about.html">About Us</a>
								</li>
																														
								<li>
									<a href="contact.html">Contact</a>
								</li>
								
							</ul>
						</nav>
					</div>
				</div>
			</header>
			
			<!--END HEADER-->
			
			<div role="main" class="main">

				<section class="page-top">
					<!--<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="index.html">Home</a></li>
									<li class="active">Platform</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h2>Platform</h2>
							</div>
						</div>
					</div>-->
				</section>

				<div class="container">

					<h2>Optimized for Performance</h2>

					<div class="row">
						<div class="col-md-12">
							<p>SocialSway is a real time social bidding platform. We provide enhanced access to Facebook’s native bidding tools. Our proprietary technologies leverage predictive analytics and machine learning to help advertisers gain increased campaign efficiency and significant cost savings.														
							</p>
						</div>						
					</div>
					
					<hr class="tall"/>
					<div class = "row">
						<div class = "col-md-8">
							<h4>Intuitive Dashboard</h4>
							
							<p>
Bidding on Facebook is easy with our simple and powerful user interface. Navigate through campaigns, ad sets, and ad groups from a single screen, and gain advanced actionable insights at every level. <br><br>

Graphs and summaries update in real time to enable insightful bidding. Time Machine's recommendations are provided every hour, for every ad group, to highlight the optimal combination of bid type and bid price. <br><br>

All of this is done through a responsive web interface that makes our platform accessible on all devices, so that you can stay connected on the go.  </p>
																
						</div>
						<div class = "col-md-4">
							<%= image_tag("RestfulAPI.jpg", alt: "SocialSway", class: "img-responsive")%>
							
						</div>
					</div>
					
					
							

					<hr class="tall"/>
					
					<div class="row pull-top">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4">
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="icon icon-superscript"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Time Machine</h4>
					 						<p class="tall">Proprietary recommendation algorithm cuts cost-to-goal up to 20%. <br><br></p>
										</div>
									</div>
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="icon icon-list-alt"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Bid Management</h4>
											<p class="tall">Real time budget control. Place, manage, and optimize bids on all active ad groups.</p>
										</div>
									</div>
									
									
								</div>
								<div class="col-md-4">
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="icon icon-bar-chart-o"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Performance Forecasting</h4>
											<p class="tall">Accurately project and analyze future impressions, clicks, and actions at the ad group level.</p>
										</div>
									</div>
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="icon icon-usd"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Bid Tracking</h4>
											<p class="tall">Track and project future clearing prices across multiple bid types with simple boxplots.</p>
										</div>
									</div>
									
								</div>
								<div class = "col-md-4">
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="icon icon-sort-amount-asc"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Ad Set Optimization</h4>
											<p class="tall">Reallocate capital between ad sets to maximize performance towards an objective. <br><br></p>
										</div>
									</div>
									
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="icon icon-fighter-jet"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Autopilot</h4>
											<p class="tall">Turn on autopilot to experience fully automated bidding based off Time Machine’s recommendations. </p>
										</div>
									</div>
								</div>
							</div>
						</div>
					
					</div>																		
					

					


					<hr class="tall" />
					
					
					
					<div class = "row">													
						<div class="col-md-6">
							<h4>Budget Reallocation</h4>
							<p class="tall">
								Take full advantage of savings by either using your remaining campaign budget to further boost goals, or re-allocate that campaign budget to other marketing needs. SocialSway can automatically pause campaigns once goals are met so that you can make the choice and maximize your savings.
							</p>
						</div>
						<div class="col-md-6">
							<h4>Compatibility</h4>
							<p class="tall">
								SocialSway’s platform is compatible with all Facebook ad accounts. We support all users of Facebook's native API, including direct marketers and advertising agencies. A valid Facebook Ad Account ID is all you need to plug into our technologies.
							</p>
						</div>
					</div>
					
					
					
					
					<hr class="tall" />
					
					<h4>Enhanced Insights</h4>
					
					<div class = "row">													
						<div class="col-md-8">
							<p class="tall">
								Leverage analysis done by Time Machine to gain real time actionable insights into ad groups, ad sets, and ad campaigns. <br><br> Gain accurate projections and recommendations for each ad group. Results are provided at a granular level and broken down by specific action types.<br><br>Track how Time Machine allocates bids in real time and manage your campaigns knowing which ad groups will benefit from the majority of your budget. Multiple graphs and data summaries provide a simple analysis of complex data.
							</p>
						</div>
						<div class="col-md-4">
							<%= image_tag("enhancedInsights.jpg", alt: "SocialSway", class: "img-responsive")%>
							
							
						</div>
					</div>
					
					
					<hr class="tall" />
					
					<h4>Data API</h4>
					<div class = "row">
						<div class = "col-md-12">
							<p> Gain access to SocialSway's Data API to perform additional analysis on your Facebook campaigns. Our API provides a flexible interface that allows developers to leverage data generated by Time Machine on demand. </p> 
						</div>
					</div>
					
					

				</div>

			</div>


			<section class="call-to-action featured footer">
				<div class="container">
					<div class="row">
						<div class="center">
							<h3>We provide a <strong>smart</strong> approach to advertising on Facebook.</h3>
						</div>
					</div>
				</div>
			</section>

			<!-- Begin Footer -->
			<footer>
				<div class="container">
					<div class="row">
						<div class="footer-ribon">
							<span>Get in Touch</span>
						</div>						
						<div class="col-md-10">
							<div class="contact-details">
								<h4>Contact Us</h4>
								<ul class="contact">									
									<li><p><i class="icon icon-envelope"></i> <strong>Email:</strong> contact@socialsway.com</p></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<h4>Follow Us</h4>
							<div class="social-icons">
								<ul class="social-icons">
									<li class="facebook"><a href="http://www.facebook.com/socialswayadtech" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a></li>
									<li class="twitter"><a href="http://www.twitter.com/socsway" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a></li>
									<li class="linkedin"><a href="http://www.linkedin.com/company/enlyten-health" target="_blank" data-placement="bottom" rel="tooltip" title="Linkedin">Linkedin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-1">
								<a href="index.html" class="logo">
								</a>
							</div>
							<div class="col-md-7">
							</div>
							
						</div>
					</div>
				</div>
			</footer>
			
			<!--End Footer-->




		</div>

		<!-- Libs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="vendor/jquery.js"><\/script>')</script>
		<script src="js/plugins.js"></script>
		<script src="vendor/jquery.easing.js"></script>
		<script src="vendor/jquery.appear.js"></script>
		<script src="vendor/jquery.cookie.js"></script>
		<!-- <script src="master/style-switcher/style.switcher.js"></script> Style Switcher -->
		<script src="vendor/bootstrap.js"></script>
		<script src="vendor/twitterjs/twitter.js"></script>
		<script src="vendor/flexslider/jquery.flexslider.js"></script>
		<script src="vendor/jflickrfeed/jflickrfeed.js"></script>
		<script src="vendor/magnific-popup/magnific-popup.js"></script>
		<script src="vendor/jquery.validate.js"></script>
		
		<%=javascript_include_tag "plugins.js"%>
		<%=javascript_include_tag "jquery.easing.js"%>
		<%=javascript_include_tag "jquery.appear.js"%>
		<%=javascript_include_tag "jquery.cookie.js"%>
		<%=javascript_include_tag "bootstrap.js"%>
		<%=javascript_include_tag "twitter.js"%>
		<%=javascript_include_tag "jquery.flexslider.js"%>
		<%=javascript_include_tag "jflickrfeed.js"%>
		<%=javascript_include_tag "magnific-popup.js"%>
		<%=javascript_include_tag "jquery.validate.js"%>

		<!-- Theme Initializer -->
		<script src="js/theme.js"></script>
		<%=javascript_include_tag "theme.js"%>
		

		<!-- Custom JS -->
		<script src="js/custom.js"></script>
		<%=javascript_include_tag "custom.js"%>
		

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>
		 -->

	</body>
</html>
